html {
    background-color: #cddac3;
}
body {
    margin: 0 auto;
    max-width: 40em;
    font-family: georgia, serif;
    color: #fff;
    background-color: #3e884c;
    padding: 3% 4% 0;
    line-height: 1.6em;
}
a {
    color: #fff;
    text-decoration: underline;
}
a:hover {
    color: #3e884c;
    background-color: #fff;
    text-decoration: none;
}
a img {
    border: none;
}
img.l4rp {
    float:left;
}
body > h1 {
    margin:0;
    padding:0;
}
body > h1 a {
    text-decoration:none;
    display:block;

    /* clear floats */
    overflow:hidden;
    width:100%;
}
body > h1 img.l4rp {
    float:left;
}
body > h1 span {
    font-size: 2em;
    line-height: 1em;
    float:right;
    width:5em;
    border:5px solid #fff;
    font-weight: normal;
    background-color: #fff;
    color: #3e884c;
    margin-top:39px;
    padding:10px;
    display:block;
                
    -webkit-transform: rotate(-6deg) translate(-11px,-20px); 
    -moz-transform: rotate(-6deg) translate(-11px,-20px); 
    -o-transform: rotate(-6deg) translate(-11px,-20px);
    -ms-transform: rotate(-6deg) translate(-11px,-20px);
}
body > h1 a:hover {
    background-color: inherit;
    color: inherit;
}
body > h1 a:hover span {
    color: #3e884c;
    background-color: #fff;
}
body > h2 {
    font-size:1.8em;
}
body > h3 {
    font-size:1.4em;
}
dt {
    margin-top:1em;
    font-weight: bold;
}

blockquote {
    font-style: italic;
    padding-left:1em;
    margin-left:1.62em;
    border-left:16px solid #fff;
    font-size: 1.2em;
}

ul.theloop {
    list-style: none;
}

section {
    margin: 2.2em 0;
}
section h1 {
    margin-top:0.38em;
    font-size: 2em;
    line-height:1.2em;
}

section.intro {
    font-size:1.2em;
}
section.intro p:first-child.note {
    font-weight:bold;
}
section.callout {
    font-size:1.2em;
                
    /*
    background-color:#f83;
    background-color:rgba(255, 90, 0, 0.62);
    */

    background-color: #3e884c;
                
    color: #fff;
    padding:0.16em 1em 1em;
                
    -webkit-transform: rotate(1deg); 
    -moz-transform: rotate(1deg); 
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
}
section.callout.alt {
    -webkit-transform: rotate(-1deg); 
    -moz-transform: rotate(-1deg); 
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}
section.callout h1 a {
    text-decoration:none;
    word-wrap: break-word;
}
section.callout a {
    color: #fff;
}
section.callout a:hover {
    background-color:#fff;
    color:#3e884c;
    text-decoration:none;
}
section.callout p {
    margin-top:0.38em;
}
.optional-break {
    width:0;
}
.lanyrd-widget h2 {
    margin:0.618em 0 0.38em;
}
.lanyrd-widget .lanyrd-people a img {
    width: 48px;
    border: 2px solid #fff;
}
.lanyrd-widget .lanyrd-trackers a img {
    border: 1px solid #fff;
    width: 32px;
}
html.js .flickr-wrapper {
    overflow-y: hidden;
}
html.js #flickr-widget {
    height: 250px;
    overflow:hidden;
    width: 2500px;
}
.flickr_badge_image {
    float:left;
    margin:0 5px 5px 0;
                
    -webkit-transform: rotate(-1deg); 
    -moz-transform: rotate(-1deg); 
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}
.flickr_badge_image:nth-child(even) {
    -webkit-transform: rotate(1deg); 
    -moz-transform: rotate(1deg); 
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
}
.location-photo {
    overflow:hidden;
}
#map {
    height: 309px;
    clear:both;
    
    /* Gutter for smartphone scrolling */
    margin-right: 1em;
}
#map {
    color:#3e884c;
}
body > footer {
    margin-top: 2em;
    overflow: auto;
}
footer .credit {
    font-style: italic;
    float:right;
    font-size:0.9em;
}
footer .credit .df {
    font-family: Calibri,Helvetica,Arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1px;
    font-style: normal;
}

/* events */
.lanyrd-series-topics {
    list-style:none;
    padding:0;
}
.lanyrd-series-topics li {
    font-size:0.85em;
    display:inline-block;
    margin:0 0.25em 0.25em 0;
}
.lanyrd-series-topics li a {
    text-decoration:none;
    color: #31442e;
    padding:0.35em;
    background-color: #dce5d6;
    display:block;
}
.lanyrd-series-topics li a:hover {
    background:rgba(220, 229, 214, 0.715);
}
.lanyrd-series-upcoming > h3 {
    display:none;
}
.lanyrd-series-time {
    font-weight: bold;
}
.lanyrd-series-upcoming section:nth-child(even), .lanyrd-series-past section:nth-child(even) {
    -webkit-transform: rotate(-1deg); 
    -moz-transform: rotate(-1deg); 
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}
section.lanyrd-series-upcoming-conference h1 {
    font-size:1.8em;
}
.lanyrd-attendees-title a {
    text-decoration:none;
}
.lanyrd-attendees-title a:hover {
    text-decoration:underline;
}
.event-start-date {
    float:right;
    display:inline-block;
    margin:0.75em 0 0.75em 0.5em;
    position:relative;
    text-align:center;
    font-family:Helvetica, Arial, sans-serif;
    width:1.85em;
    border-radius:0.2em;
    border:#aaa 1px solid;
    background:#fff;
    font-size: 2.6em;
}
section.callout .event-start-date {
    font-size: 2.17em;
}
.event-start-date .month {
    background:#940000;
    color:#fff;
    font-size:0.4em;
    border-top-left-radius:0.4em;
    border-top-right-radius:0.4em;
}
.event-start-date .day {
    color:#000;
    font-size:1.25em;
    background:#fff;
    height:1em;
    line-height:1.1em;
}
.event-start-date .year {
    background:#fff;
    color:#aaa;
    font-size:0.35em;
    border-bottom-left-radius:0.4em;
    border-bottom-right-radius:0.4em;
    position:relative;
    top:-0.1em;
}
time.event-start-date > * {
    display:block;
}

/* Past events */
/*
.lanyrd-series-past .lanyrd-series-past-conference {
    background:#505A50;
    min-height:4.6em;
}
.lanyrd-series-past-conference .event-start-date .month {
    background:rgb(107, 50, 50);
}
section.lanyrd-series-past-conference h1 {
    font-size:1.6em;
    font-weight:normal;
}
section.lanyrd-series-past-conference .event-start-date {
    font-size:1.5em;
}
*/