@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:600|Sanchez:400italic,400|Open+Sans:300);

html {
    background-color: #0b190e;
}
body {
    margin: 0 auto;
    max-width: 33em;
    font-family: 'Sanchez', georgia, serif;
    color: #bae1cf;
    padding: 3% 4% 3%;
    font-size:1.2em;
    background: #008f4c url(../images/nodewing-shadow.svg) no-repeat -14px bottom;
}
html.no-svg body {
    background-image: url(../images/nodewing-shadow.png);
}
body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
body > header {
    color: #fff;
}
a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color: #008f4c;
    background-color: #fff;
    text-decoration: none;
}
a img {
    border: none;
}
body > .l4rp {
    margin:0;
    font-family: 'Josefin Slab', georgia, serif;
    font-size: 2em;
    letter-spacing: -1px;

    /* clean floats */
    overflow: auto;
    width: 100%;
}
body > .l4rp a {
    text-decoration:none;

    /* clear floats */
    overflow:hidden;
    width:100%;
}
body > .l4rp a:hover {
    background-color: transparent;
}
/* Holy zooming logos, Batman */
body.home > .l4rp a {
    background: url(../images/l4rp.svg) no-repeat center left;
    background-size: 635px;
    min-height: 256px;
    display: block;
}
html.no-svg body.home > .l4rp a {
    background-image: url(../images/l4rp.png);
}
body.home > .l4rp a:hover {
    background-size: 147.75px; 
}

/* Lab for the Recently Possible text */
body > .l4rp a span {
    font-size: 1em;
    margin-top:30px;
    line-height: 1em;
    float:right;
    width:5em;
    border:2px solid #fff;
    font-weight: normal;
    padding:20px;
    display:block;

    transform:         rotate(-6deg) translate(-11px,-19px);
    -webkit-transform: rotate(-6deg) translate(-11px,-19px);
    -moz-transform:    rotate(-6deg) translate(-11px,-19px);
    -o-transform:      rotate(-6deg) translate(-11px,-19px);
    -ms-transform:     rotate(-6deg) translate(-11px,-19px);
}
body > .l4rp a span {
    background-color: #fff;
    color: #008f4c;
}
body.home > .l4rp a:hover span {
    background-color: #008f4c;
    color: #fff;
}
body.home > .l4rp a span {
    font-size: 1.8em;
    margin: 39px 0 4px 0.4em;
}
/* L4RP logo zoom */
body.home > .l4rp a {
    transition:         all 0.62s ease-out 0.1s;
    -moz-transition:    all 0.62s ease-out 0.1s;
    -webkit-transition: all 0.62s ease-out 0.1s;
    -o-transition:      all 0.62s ease-out 0.1s;
    -ms-transition:     all 0.62s ease-out 0.1s;
}
body.home > .l4rp a:hover {
    transition:         all 1s ease-in 0.1s;
    -moz-transition:    all 1s ease-in 0.1s;
    -webkit-transition: all 1s ease-in 0.1s;
    -o-transition:      all 1s ease-in 0.1s;
    -ms-transition:     all 1s ease-in 0.1s;
}
/* Lab for the Recently Possible text */
body.home > .l4rp a span {
    transition:         all 0.38s ease-in 0.1s;
    -moz-transition:    all 0.38s ease-in 0.1s;
    -webkit-transition: all 0.38s ease-in 0.1s;
    -o-transition:      all 0.38s ease-in 0.1s;
    -ms-transition:     all 0.38s ease-in 0.1s;
}
body.home > .l4rp a:hover span {
    transition:         all 0.62s ease-out 0.1s;
    -moz-transition:    all 0.62s ease-out 0.1s;
    -webkit-transition: all 0.62s ease-out 0.1s;
    -o-transition:      all 0.62s ease-out 0.1s;
    -ms-transition:     all 0.62s ease-out 0.1s;
}

@media only screen and (max-width: 580px) {
    body.home > .l4rp a {
        background: none;
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        -ms-transition: none;
        min-height: 0;
    }
    body > .l4rp a span {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
@media only screen and (max-width: 420px) {
    body.home > .l4rp a span {
        font-size: 1.6em;
    }
}
@media only screen and (max-width: 340px) {
    body.home > .l4rp a span {
        font-size: 1.2em;
    }
}
body > header {
    margin-bottom: 2em;
}
body > h1, body > header h1 {
    font-size:2em;
    margin-bottom: 0.62em;
}
body > h2, body > header h2 {
    font-size: 1.4em;
    margin: 1.6em 0 0;
}

section.event {
    margin-top: 3.6em;
}

/*
section.event header {
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}
*/

section.event h1 {
    float:none;
    font-size:1.8em;
}

section.event .summary {
    font-size:1.2em;
}

section.event-meta .also {
    font-size: 0.9em;
}

/*
section.event-meta {
    font-size: 0.9em;
    column-count: 2;
    column-gap: 1.6em;
    -moz-column-count: 2;
    -moz-column-gap: 1.6em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.6em;
    -o-column-count: 2;
    -o-column-gap: 1.6em;
    -ms-column-count: 2;
    -ms-column-gap: 1.6em;
}
section.event-meta p {
    margin-top:0;
    break-inside: avoid;
    -moz-break-inside: avoid;
    -o-break-inside: avoid;
    -ms-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}
*/

/*
section.event-meta p:first-child {
    break-after: column;
    -moz-break-after: column;
    -o-break-after: column;
    -ms-break-after: column;
    -webkit-column-break-after: always;
}
*/

body > header h1,
body > header h2,
section.event > header h1 {
    background-color: #66bc94;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
section.event > header h1 {
    padding: 0;
}
section.event > header h1 a {
    padding: 0 0.16em;
    min-height: 1.4em;
}
section.event + section:not(.event) {
    margin-top: 3.6em;
}

body > header h1, body > header h2 {
    font-size: 1.4em;
    padding: 0.62em;
}
h1.series {
    background-color: transparent;
    font-family: 'Sanchez', georgia, serif;
    color: #66bc94;
    font-size: 2em;
    padding: 0;
}
h1.series a {
    background-color: transparent;
    color: #66bc94;
    text-decoration: none;
}
h1.series a:hover {
    background-color: #66bc94;
    color: #008f4c;
}
body > h3, body > header h3 {
    font-size:1.4em;
    margin-top: 0.38em;
}
li {
    padding: 0.5em 0;
}
dt {
    margin-top:1em;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid #bae1cf;
    margin: 1.6em 0;
}

blockquote {
    font-size: 0.9em;
    font-style: italic;
    padding-left:1em;
    margin: 1em 0 1em 1.62em;
    border-left:8px solid #8cbf44;
}

blockquote + blockquote {
    margin-top: 2em;
}

section {
    margin: 1.6em 0;
}

section h1 {
    padding: 0 0.16em;
    margin-top:0.38em;
    font-size: 2em;
    line-height:1.2em;
    background-color: #fff;
    color: #008f4c;
    float: left;
}

section h1 a {
    color: #008f4c;
    text-decoration: none;
    display: block;
}
body.home > section h1 a {
    border-bottom: 2px solid yellow;
}

section h1 + * {
    clear:left;
}

section.intro {
    font-size:1.2em;
}
section.intro p:first-child.note {
    font-weight:bold;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0.38em 1.6em 0.62em;
}
@media only screen and (max-width: 580px) {
    section {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}
body.home > section {
    padding:0 1em 0.16em;
}
body.home > section h1 {
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}
.optional-break {
    width:0;
}
/*
.lanyrd-widget h2 {
    margin:0.618em 0 0.38em;
}
.lanyrd-widget .lanyrd-people a img {
    width: 48px;
    border: 2px solid #fff;
}
.lanyrd-widget .lanyrd-trackers a img {
    border: 1px solid #fff;
    width: 32px;
}
*/

html.js .flickr-wrapper {
    overflow-y: hidden;
}
html.js #flickr-widget {
    height: 250px;
    overflow:hidden;
    width: 2500px;
}
#flickr-widget img.loading {
    padding: 10px 5px;
    background-color: #fff;
}
.flickr_badge_image {
    float:left;
    margin: 5px;
    transform: rotate(-1.5deg);
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
}
.flickr_badge_image:nth-child(even) {
    transform: rotate(1.5deg);
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);
    -ms-transform: rotate(1.5deg);
}
.flickr_badge_image a {
    text-decoration: none;
    background-color: #fff;
    padding: 2px;
    display:block;
}
.flickr_badge_image img {
    display:block;
    filter: saturate(20%) hue-rotate(180deg);
    -moz-filter: saturate(20%) hue-rotate(180deg);
    -webkit-filter: saturate(20%) hue-rotate(180deg);
    -o-filter: saturate(20%) hue-rotate(180deg);
    -ms-filter: saturate(20%) hue-rotate(180deg);

    transition: all 0.62s ease-out;
    -moz-transition: all 0.62s ease-out;
    -webkit-transition: all 0.62s ease-in;
    -o-transition: all 0.62s ease-out;
    -ms-transition: all 0.62s ease-out;
}
.flickr_badge_image a:hover img {
    filter: none;
    -moz-filter: none;
    -webkit-filter: none;
    -o-filter: none;
    -ms-filter: none;

    transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
}
body.home #map img {
    filter: hue-rotate(40deg);
    -moz-filter: hue-rotate(40deg);
    -webkit-filter: hue-rotate(40deg);
    -o-filter: hue-rotate(40deg);
    -ms-filter: hue-rotate(40deg);
}
body.home .location-photo {
    overflow:hidden;
}
body.home .location-photo img {
    display: block;
    float:left;
    background-color: #fff;
    padding: 2px;
}
body.home #map {
    height: 309px;
    color:#0b190e;
    clear:both;
    
    /* Gutter for smartphone scrolling */
    margin-right: 1em;
}
body.home #travel {
    background-color: #8cbf44;
    color: #fff;
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
}
body.home #travel h1 {
    color: #008f4c;
    background-color: transparent;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
}
body.home #travel h1 ~ * {
    transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
}
body > footer {
    margin-top: 2em;
    margin-left: -4%;
    position: relative;
    min-width: 211px;
    min-height: 482px;
}

footer .credit {
    font-style: italic;
    font-size:0.9em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding:0;
    margin:0;
}
footer .credit .role {
    /* temporarily removed */
    display: none;

    /* display: block;
    margin-bottom: 1em; */
}

@media only screen and (max-width: 440px) {
    body > footer {
    }
    body > footer .credit {
        position: relative;
        right: auto;
        text-align: center;
        margin-left:  auto;
        margin-right: auto;
        padding-bottom: 520px;
    }
}

/* Dharmafly Classic */
/*
.df a {
    text-decoration: none;
}
.df .fn {
    font-family: Calibri,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1px;
    font-style: normal;
    background-color: transparent;
    display: block;
}
*/

/* events */

img.teachers {
    max-height: 223px;
    max-width: 61.8%;
}
.track {
    background: url(../images/lanyrd-16.png) no-repeat 4px center;
    padding-left: 30px;
}
.buy {
    background: url(../images/eventbrite-16.png) no-repeat 4px center;
    padding-left: 30px;
}
iframe.tickets {
    min-width:500px;
}
.lanyrd-series-topics {
    list-style:none;
    padding:0;
}
.lanyrd-series-topics li {
    font-size:0.85em;
    display:inline-block;
    margin:0 0.25em 0.25em 0;
}
.lanyrd-series-topics li a {
    text-decoration:none;
    color: #31442e;
    padding:0.35em;
    background-color: #dce5d6;
    display:block;
}
.lanyrd-series-topics li a:hover {
    background:rgba(220, 229, 214, 0.715);
}
.lanyrd-series-upcoming > h1 {
    display:none;
}
.lanyrd-series-time {
    font-weight: bold;
}
.lanyrd-attendees-title a {
    text-decoration:none;
}
.lanyrd-attendees-title a:hover {
    text-decoration:underline;
}
time.event-start-date {
    float:right;
    display:inline-block;
    margin: -0.2em 0.38em 0.62em 0.2em;
    padding: 0.15em 0 0.2em;
    position:relative;
    text-align:center;
    font-family:Helvetica, Arial, sans-serif;
    width:1.85em;
    border-radius:13px;
    border:#008f4c 4px solid;
    font-size: 2em;
    background-color: #66bc94;
    color: #fff;

    transform:         rotate(6deg);
    -moz-transform:    rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform:      rotate(6deg);
    -ms-transform:     rotate(6deg);

}
time.event-start-date > * {
    display:block;
    text-decoration: none;
    border: none;
}
time.event-start-date .month {
    font-size:0.4em;
}
time.event-start-date .day {
    font-size:1.25em;
    height:1em;
    line-height:1.1em;
}
time.event-start-date .year {
    font-size:0.35em;
    margin-top: 0.2em;
}

/* Past events */
/*
.lanyrd-series-past .lanyrd-series-past-conference {
    background:#505A50;
    min-height:4.6em;
}
.lanyrd-series-past-conference .event-start-date .month {
    background:rgb(107, 50, 50);
}
section.lanyrd-series-past-conference h1 {
    font-size:1.6em;
    font-weight:normal;
}
section.lanyrd-series-past-conference .event-start-date {
    font-size:1.5em;
}
*/