<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{title}} :: Lab for the Recently Possible ~ L4RP</title>
        
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css"><![endif]-->
</head>
    
<body class="vcard">
<h1 class="fn org url"><a href="http://l4rp.com">Lab for the Recently Possible</a></h1>

{{{body}}}

<footer>
    <p class="credit">Created by <a href="http://dharmafly.com" class="df" title="Dharmafly ~ apps for change">Dharmafly</a></p>
</footer>
</body>
</html>